body.bg-dark {
    background-color: #333333 !important;
}

/* Navbar */
a.navbar-brand {
    color: #04bb41 !important;
}

.navbar-brand {
    font-size: 3rem;
}

.nav-item {
    font-size: 1.5rem;
}

/* Describer words text */
.middle-align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#ggbGameDevText, #programmerText {
    color:gray;
}

#tinkererText:hover, #programmerText:hover, #ggbGameDevText:hover {
    color: #04bb41;
    cursor: pointer;
    text-decoration: none;
}

.display-5 {
    font-size: 3rem !important;
    color:gray;
    z-index: 1;
}

#bigtextDiv {
    position: relative;
}

#bigText {
    position: absolute;
    top: 0px;
}

/* BG videos */
#bgvideosDiv {
    position:relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
    top: 0px;
}
.bgvideo {
    position: absolute;
    top: 0px;
    width: 100%;
    opacity: 10%;
}

#video2 {
    display: none;
}
#video3 {
    display: none;
}

.fade-in {
    opacity: 1 !important;
    transition: opacity 1s ease-in;
}

.fade-in {
    opacity: 1 !important;
    transition: opacity 1s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity .5s ease-out;
}

/* Make scrollbar thin on the side */
/* For Chrome and Safari */
::-webkit-scrollbar {
    width: 10px; /* Adjust as needed */
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: 10px; 
}
/* For Firefox */
* {
    scrollbar-width: thin; 
    scrollbar-color: #666 #333; 
}