body.bg-dark {
    background-color: #333333 !important;
}

a.navbar-brand {
    color: #0aec99 !important;
}

.navbar-brand {
    font-size: 3rem;
}

.nav-item {
    font-size: 1.5rem;
}

.middle-align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.display-5 {
    font-size: 3rem !important;
}

#bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }

.card-img {
    width: 100%;  /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    object-fit:fill; /* This will ensure that your images cover the whole area without distortion */
}

.row {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.col {
    margin-bottom: 1rem;
}

/* For Chrome and Safari */
::-webkit-scrollbar {
    width: 10px; /* Adjust as needed */
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: 10px; 
}

/* For Firefox */
* {
    scrollbar-width: thin; 
    scrollbar-color: #666 #333; 
}

.display-5 {
    color:gray;
}

#ggbGameDevText, #programmerText {
    color:gray;
}

#tinkererText:hover, #programmerText:hover, #ggbGameDevText:hover {
    color: #04bb41;
    cursor: pointer;
    text-decoration: none;
}
